<div style="background-color: aliceblue;">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="b-brand">
      <!-- ========   change your logo hear   ============ -->
      <div style="margin-left: 0px">
        <img
          width="80"
          height="90"
          margin-left="-60px"
          viewBox="0 0 46 55"
          fill="none"
          src="assets/images/logo.png"
          alt=""
          class="logo logo-lg"
        />
      </div>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/forum" routerLinkActive="active-link">Forum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active-link">About</a>
        </li>
        <li class="nav-item">
          <a href="#section1" class="nav-link" routerLinkActive="active-link">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav1" href="#section3"><strong>Begin here</strong><i class="bi bi-arrow-right"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="banner">
  <div class="content">
    <h1 class="mb-5">Welcome To<br /><br />StageLink</h1>

    <a href="#section3"><strong>Begin here</strong><i class="bi bi-arrow-right"></i></a>
  </div>
</div>
<!-- step  -->

<div class="container mt-5 mb-5">
  <div class="row mt-5" >
    <h5 id="section3" class="text-align"><strong class="highlight1">You are________</strong></h5>
  <strong><h1 id="section3" class="text-align"><span class="highlight">You Are:</span></h1></strong>
  <hr>
    <!-- one  -->
    <mat-card class="example-ripple-container">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title style="margin-left:-70px;"> <svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m3.5 14 10 .001a1.5 1.5 0 0 1 1.493 1.356L15 15.5V17.5C14.999 21 11.284 22 8.5 22c-2.722 0-6.335-.956-6.495-4.27L2 17.5v-2a1.5 1.5 0 0 1 1.356-1.493L3.5 14Zm11.988 0H20.5a1.5 1.5 0 0 1 1.493 1.355L22 15.5V17c-.001 3.062-2.858 4-5 4a7.16 7.16 0 0 1-2.14-.322c.653-.75 1.076-1.703 1.133-2.898L16 17.5v-2c0-.494-.15-.951-.399-1.338L15.488 14H20.5h-5.012ZM8.5 3a4.5 4.5 0 1 1 0 9 4.5 4.5 0 0 1 0-9Zm9 2a3.5 3.5 0 1 1 0 7 3.5 3.5 0 0 1 0-7Z" fill="#212121"/></svg></mat-card-title>
          <mat-card-title style="text-align: left;" >Admin</mat-card-title>
          <mat-card-title><h4>Administrator area</h4></mat-card-title>
        </mat-card-title-group>
      </mat-card-header>
    </mat-card>
    <!-- two -->
    <mat-card class="example-ripple-container">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title style="margin-left:-70px;"> <svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m3.5 14 10 .001a1.5 1.5 0 0 1 1.493 1.356L15 15.5V17.5C14.999 21 11.284 22 8.5 22c-2.722 0-6.335-.956-6.495-4.27L2 17.5v-2a1.5 1.5 0 0 1 1.356-1.493L3.5 14Zm11.988 0H20.5a1.5 1.5 0 0 1 1.493 1.355L22 15.5V17c-.001 3.062-2.858 4-5 4a7.16 7.16 0 0 1-2.14-.322c.653-.75 1.076-1.703 1.133-2.898L16 17.5v-2c0-.494-.15-.951-.399-1.338L15.488 14H20.5h-5.012ZM8.5 3a4.5 4.5 0 1 1 0 9 4.5 4.5 0 0 1 0-9Zm9 2a3.5 3.5 0 1 1 0 7 3.5 3.5 0 0 1 0-7Z" fill="#212121"/></svg></mat-card-title>
          <mat-card-title style="text-align: left;" >Admin</mat-card-title>
          <mat-card-title><h4>Administrator area</h4></mat-card-title>
        </mat-card-title-group>
      </mat-card-header>
    </mat-card>
    <!-- three  -->
    <mat-card class="example-ripple-container">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title style="margin-left:-70px;"> <svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m3.5 14 10 .001a1.5 1.5 0 0 1 1.493 1.356L15 15.5V17.5C14.999 21 11.284 22 8.5 22c-2.722 0-6.335-.956-6.495-4.27L2 17.5v-2a1.5 1.5 0 0 1 1.356-1.493L3.5 14Zm11.988 0H20.5a1.5 1.5 0 0 1 1.493 1.355L22 15.5V17c-.001 3.062-2.858 4-5 4a7.16 7.16 0 0 1-2.14-.322c.653-.75 1.076-1.703 1.133-2.898L16 17.5v-2c0-.494-.15-.951-.399-1.338L15.488 14H20.5h-5.012ZM8.5 3a4.5 4.5 0 1 1 0 9 4.5 4.5 0 0 1 0-9Zm9 2a3.5 3.5 0 1 1 0 7 3.5 3.5 0 0 1 0-7Z" fill="#212121"/></svg></mat-card-title>
          <mat-card-title style="text-align: left;" >Admin</mat-card-title>
          <mat-card-title><h4>Administrator area</h4></mat-card-title>
        </mat-card-title-group>
      </mat-card-header>
    </mat-card>
  </div>
</div>
<hr />
<!-- foodbox  -->
<div class="container mt-4 mb-4">
  <h1 class="text-center"> <span class="highlight">Academic Interships</span></h1>
  <div class="row">
    <div class="col-lg-3 mt-3" *ngFor="let item of filteredcards">
      <mat-card class="example-card">
        <div class="foodbox">
          <mat-card-header class="matcard_header">
            <mat-card-title-group>
              <mat-card-title style="text-align: left">{{ item.titre }}</mat-card-title>
              <mat-card-subtitle style="color: rgb(227, 224, 224); text-align: left">{{ item.localisation }}</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content style="text-align: left">
            <p>{{ item.description }}</p>
          </mat-card-content>
          <hr />
          <mat-card-actions>
            <a mat-flat-button [routerLink]="['/login/']" style="color: blue">Voir plus...</a>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>
  </div>
  <a [routerLink]="['/login/']" class="viewmorebtn">view more <i class="bi bi-arrow-right"></i></a>
</div>
<div class="container-fluid footer mt-5">
  <div id="section1" style="display: flex; flex-direction: row">
    <!-- name  -->
    <div class="col-lg-6 mt-3 mb-3">
      <h1>StageLink,</h1>
      <p>Boost your professional life</p>
    </div>
    <!-- nav  -->
    <div style="margin-left: -100px; margin-top: 100px" class="col-lg-4 mt-3 mb-3">
      <br /><br />
      <a href="/">Home</a>
      <a href="/">Forum</a>
      <a routerLink="about">About</a>
    </div>
    <!-- socialmedia -->
    <div style="margin-left: 0px; margin-top: 10px; display: flex; flex-direction: row; align-items: end">
      <a style="margin: 0px" target="_blank"
        ><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0,0,256,256">
          <g transform="translate(76.8,76.8) scale(0.4,0.4)">
            <g
              fill="none"
              fill-rule="nonzero"
              stroke="none"
              stroke-width="none"
              stroke-linecap="butt"
              stroke-linejoin="none"
              stroke-miterlimit="10"
              stroke-dasharray=""
              stroke-dashoffset="0"
              font-family="none"
              font-weight="none"
              font-size="none"
              text-anchor="none"
              style="mix-blend-mode: normal"
            >
              <path
                transform="scale(16,16)"
                d="M16,8c0,4.418 -3.582,8 -8,8c-4.418,0 -8,-3.582 -8,-8c0,-4.418 3.582,-8 8,-8c4.418,0 8,3.582 8,8z"
                id="strokeMainSVG"
                fill="#dddddd"
                stroke="#dddddd"
                stroke-width="2"
                stroke-linejoin="round"
              ></path>
              <g transform="scale(16,16)" stroke="none" stroke-width="1" stroke-linejoin="miter">
                <path
                  d="M8,0c-4.418,0 -8,3.582 -8,8c0,4.418 3.582,8 8,8c4.418,0 8,-3.582 8,-8c0,-4.418 -3.582,-8 -8,-8z"
                  fill="#093854"
                ></path>
                <path
                  d="M9.082,10.12h2.071l0.326,-2.104h-2.397v-1.148c0,-0.875 0.286,-1.65 1.104,-1.65h1.312v-1.835c-0.23,-0.03 -0.719,-0.099 -1.641,-0.099c-1.924,0 -3.054,1.016 -3.054,3.334v1.398h-1.979v2.104h1.979v5.781c0.393,0.06 0.789,0.099 1.197,0.099c0.368,0 0.729,-0.033 1.082,-0.082z"
                  fill="#ffffff"
                ></path>
              </g>
            </g>
          </g>
        </svg>
      </a>
      <a routerLink="" style="margin-left: px" target="_blank"
        ><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0,0,256,256">
          <g transform="translate(76.8,76.8) scale(0.4,0.4)">
            <g
              fill="none"
              fill-rule="nonzero"
              stroke="none"
              stroke-width="none"
              stroke-linecap="butt"
              stroke-linejoin="none"
              stroke-miterlimit="10"
              stroke-dasharray=""
              stroke-dashoffset="0"
              font-family="none"
              font-weight="none"
              font-size="none"
              text-anchor="none"
              style="mix-blend-mode: normal"
            >
              <path
                transform="scale(16,16)"
                d="M11,15h-6c-2.209,0 -4,-1.791 -4,-4v-6c0,-2.209 1.791,-4 4,-4h6c2.209,0 4,1.791 4,4v6c0,2.209 -1.791,4 -4,4z"
                id="strokeMainSVG"
                fill="#dddddd"
                stroke="#dddddd"
                stroke-width="2"
                stroke-linejoin="round"
              ></path>
              <g transform="scale(16,16)" stroke="none" stroke-width="1" stroke-linejoin="miter">
                <path
                  d="M11,15h-6c-2.209,0 -4,-1.791 -4,-4v-6c0,-2.209 1.791,-4 4,-4h6c2.209,0 4,1.791 4,4v6c0,2.209 -1.791,4 -4,4z"
                  fill="#6e1a61"
                ></path>
                <path
                  d="M11,2h-6c-1.657,0 -3,1.343 -3,3v6c0,1.657 1.343,3 3,3h6c1.657,0 3,-1.343 3,-3v-6c0,-1.657 -1.343,-3 -3,-3zM13,11c0,1.105 -0.895,2 -2,2h-6c-1.105,0 -2,-0.895 -2,-2v-6c0,-1.105 0.895,-2 2,-2h6c1.105,0 2,0.895 2,2z"
                  fill="#ffffff"
                ></path>
                <path
                  d="M8,5c-1.657,0 -3,1.343 -3,3c0,1.657 1.343,3 3,3c1.657,0 3,-1.343 3,-3c0,-1.657 -1.343,-3 -3,-3zM8,10c-1.105,0 -2,-0.895 -2,-2c0,-1.105 0.895,-2 2,-2c1.105,0 2,0.895 2,2c0,1.105 -0.895,2 -2,2z"
                  fill="#ffffff"
                ></path>
                <circle cx="11.5" cy="4.5" r="0.5" fill="#ffffff"></circle>
              </g>
            </g>
          </g>
        </svg>
      </a>
      <a target="_blank"
        ><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0,0,256,256">
          <g transform="translate(76.8,76.8) scale(0.4,0.4)">
            <g
              fill="none"
              fill-rule="nonzero"
              stroke="none"
              stroke-width="none"
              stroke-linecap="butt"
              stroke-linejoin="none"
              stroke-miterlimit="10"
              stroke-dasharray=""
              stroke-dashoffset="0"
              font-family="none"
              font-weight="none"
              font-size="none"
              text-anchor="none"
              style="mix-blend-mode: normal"
            >
              <path
                transform="scale(16,16)"
                d="M14.896,4.962c0.008,0.142 0.013,0.288 0.013,0.434c0,4.989 -3.427,9.604 -9.689,9.604c-3.335,0 -5.22,-1.663 -5.22,-1.663l0.522,-0.622c0,0 3.107,0.155 4.401,-0.984c-1.149,-0.55 -4.179,-2.852 -4.179,-6.693c0,-1.427 0.457,-2.766 0.457,-2.766l0.717,-0.328c1.678,2.042 3.427,3.692 6.256,3.832c-0.057,-0.249 -0.088,-0.506 -0.088,-0.769c0,-1.863 1.525,-3.374 3.405,-3.374c0.98,0 1.864,0.407 2.483,1.064c0.643,-0.067 1.752,-0.814 1.752,-0.814l0.274,0.222c0,1.109 -0.347,2 -1.104,2.857z"
                id="strokeMainSVG"
                fill="#dddddd"
                stroke="#dddddd"
                stroke-width="2"
                stroke-linejoin="round"
              ></path>
              <g transform="scale(16,16)" fill="#5bb0d6" stroke="none" stroke-width="1" stroke-linejoin="miter">
                <path
                  d="M16,2.105l-0.274,-0.222c0,0 -1.109,0.747 -1.752,0.814c-0.619,-0.657 -1.503,-1.064 -2.483,-1.064c-1.88,0 -3.405,1.511 -3.405,3.374c0,0.263 0.031,0.52 0.088,0.769c-2.829,-0.14 -4.578,-1.79 -6.256,-3.832l-0.717,0.328c0,0 -0.457,1.339 -0.457,2.766c0,3.841 3.03,6.143 4.179,6.693c-1.294,1.139 -4.401,0.984 -4.401,0.984l-0.522,0.622c0,0 1.885,1.663 5.22,1.663c6.262,0 9.689,-4.615 9.689,-9.604c0,-0.146 -0.005,-0.292 -0.013,-0.434c0.757,-0.857 1.104,-1.748 1.104,-2.857z"
                ></path>
              </g>
            </g>
          </g>
        </svg>
      </a>
    </div>
  </div>
  <div class="pmd-site-info text-center">
    &copy; 2018 <strong>Propeller</strong>. All rights reserved. <strong>Crafted by</strong>
    <a href="javascript:void(0);"><strong>me.com</strong></a>
  </div>
</div>
</div>
