.formAdd {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 80px;
    margin-top: 50px;
  
  }
  .coded-content{
    margin-top: 0px;
  }
  .container{
    margin-top: 1000px;
  }
  
  .formAdd input{
    width: 2000px;
    background-color: rgb(202, 198, 198);
  }
  
  
  .navbar{
  background-color: rgb(247, 246, 249);
  height: 50px;
  
    opacity: 1;
   }
  
   .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-left: 400px;
    
   
  }
  .form_class{
    background-color: rgb(170, 166, 166);
    border-radius: 12px;
    width: 1380px;
    margin-left: 10px;
    max-height: 1700px;
  
   
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  
  
  //  .navbar:not(.active) {
  
  //    opacity: 0.5;
  //  }
  //  .navbar-light .navbar-nav .nav-link
  //  {
  //      color: var(--secondary-color);
  
  //  }
  //  .navbar-light .navbar-nav .nav-link.active-link
  //  {
  //      color: var(--primary-color);
  //      text-decoration: underline;
  
  //  }
  
  