<app-nav-home></app-nav-home>
    <div class="coded-content">
      <mat-tab-group class="tabs" style="background-color: rgb(234, 234, 235) ;max-height: 2000px; margin-top: 6px; max-width: 1400px;  margin-left: 50px;">
        <div>
          <mat-tab label="Mes candidatures">
            <app-postulations></app-postulations>
          </mat-tab>
        </div>       
        <mat-tab label="My Profil">
          <app-view-etudiant style="margin-top: 15px;"></app-view-etudiant>
        </mat-tab>
      </mat-tab-group>
    </div>
    



