<app-nav-home ></app-nav-home>
    <div class="coded-content">
      <mat-tab-group class="tabs" style="background-color: rgb(232, 232, 247);max-height: 500px; margin-top: 80px; max-width: 1500px;">
        <mat-tab label="Interships">
          <app-stages></app-stages>
        </mat-tab>
        <mat-tab label="My Applies">
          <div class="formAdd">
            <mat-form-field style="width: 400px;" >
              <mat-label >Titre</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field style="width: 400px;">
              <mat-label >Localisation</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field style="width: 400px; height: 200px;">
              <mat-label >Description</mat-label>
              <textarea matInput style="width: 400px; height: 200px;"></textarea>
            </mat-form-field>
            <button mat-raised-button style="color: #162E58;" (click)="save()">
              Submit
          </button>
          </div>
        </mat-tab>
        <mat-tab label="Student" ></mat-tab>
        <mat-tab label="My Applies"></mat-tab>
      </mat-tab-group>
    </div>



