  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Internship details</mat-card-title>
      <mat-card-subtitle><strong>Title:</strong>{{stage.titre}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p><Strong>Localisation:</Strong>{{stage.localisation}}</p>
      <mat-card-title>Description:</mat-card-title>
      <p>{{stage.description}}</p>
      {{longText}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button style="width: 100px;" color="primary">Apply</button>
    </mat-card-actions>
  </mat-card>



