<div >
    <mat-card >
    
      <h3>Profil de {{entreprise.nomEntreprise}} </h3>
  <mat-list>
    <div style="display: flex; flex-direction: row;">
      <mat-list-item>
        <span matListItemTitle>Nom Entreprise</span>
        <span matListItemLine>{{entreprise.nomEntreprise}}</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Responsable stage</span>
        <span>{{entreprise.responsable}}</span>
      </mat-list-item>
    </div>
    <div style="display: flex; flex-direction: row;">
      <mat-list-item>
        <span matListItemTitle>Telephone</span>
        {{entreprise.telephone}}
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Email</span>
        {{entreprise.email}}
      </mat-list-item>    
    </div>
    <div style="display: flex; flex-direction: row;">
      <mat-list-item>
        <span matListItemTitle>Adresse</span>
        {{entreprise.adresse}}
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Date inscription</span>
        {{entreprise.dateInscription}}
      </mat-list-item>  
    </div>  
    <mat-list-item>
      <span matListItemTitle>Statut</span>
      {{entreprise.statut}}
    </mat-list-item>
  </mat-list>
  <div mat-dialog-actions class="form-buttons">
    <button mat-raised-button color="warn" (click)="onNoClick()">Fermer</button>
  </div>
  </mat-card >
  </div>