<div class="form_class">
  <form class="example-form" [formGroup]="userForm" (ngSubmit)="edit()" >
    <h1>Company Profile</h1>    
      <mat-form-field   class="example-full-width">
        <mat-label>Nom de l'entreprise</mat-label>
        <input matInput formControlName="nomEntreprise" >
        <mat-icon matSuffix>business</mat-icon>
        <!-- <mat-error *ngIf="userForm.controls.nomEntreprise.status ==='INVALID'">
          Champ requis
      </mat-error> -->
      </mat-form-field>
      <mat-form-field   class="example-full-width">
        <mat-label>Responsable</mat-label>
        <input matInput formControlName="responsable" >
        <mat-icon matSuffix>person</mat-icon>
        <!-- <mat-error *ngIf="userForm.controls.responsable.status ==='INVALID'">
          Champ requis
      </mat-error> -->
      </mat-form-field>
      <div style="display: flex; flex-direction: row;">
  
    <mat-form-field   style="width: 500px;">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      <mat-icon matSuffix>email</mat-icon>
      <!-- <mat-error *ngIf="userForm.controls.email.status ==='INVALID'">
        Champ requis
    </mat-error> -->
    </mat-form-field>
    <mat-form-field   style="width: 500px; margin-left: 10px;">
      <mat-label>Telephone</mat-label>
      <input matInput formControlName="telephone">
      <mat-icon matSuffix>phone</mat-icon>
      <!-- <mat-error *ngIf="userForm.controls.telephone.status ==='INVALID'">
        Champ requis
    </mat-error> -->
    </mat-form-field>
      </div>
    <div class="example" >
      <mat-form-field   class="example-full-width" class="date_style">
        <mat-label>Adresse</mat-label>
        <mat-icon matSuffix>location_on</mat-icon>
        <input matInput formControlName="adresse" >
        <!-- <mat-error *ngIf="userForm.controls.adresse.status ==='INVALID'">
          Champ requis
      </mat-error> -->
      </mat-form-field>      
    </div>
    <mat-form-field class="example-full-width">
        <mat-label>Mot de Passe</mat-label>
        <input matInput formControlName="password" >
        <mat-icon matSuffix>vpn_key</mat-icon>
        <!-- <mat-error *ngIf="userForm.controls.motDePasse.status ==='INVALID'">
          Champ requis
      </mat-error> -->
    </mat-form-field>   
    <div class="example-button-row">
      <button mat-raised-button color="primary"  (click)="edit()">Update</button>
      <button mat-raised-button color="warn" class = "btn" ng-click= "onNoClick()" >Cancel</button>
    </div>
  </form>
</div>
