.example-card{
    margin: 5%;
    margin-top: 1px;
    margin-left: 12px;
    width: 25%;
    text-align: left;
    height:auto;
    // align-items: center;
}

.app-wrapper{
    
    margin-left: 52px;
    display: flex;
    flex-wrap: wrap;
    
}

