<div class="page-stage">
  <div class="head" >
    <div>
      <mat-form-field class="example-full-width" >
        <mat-label>Filtrer la recherche<i class="ti ti-filter" style="margin-left: 15px;"></i></mat-label>
        <input matInput type="text" [(ngModel)]="searchText" (input)="filterCardes()">
      </mat-form-field>
    </div>
    <div class="demo-button-container">
      <button mat-raised-button style="background-color: #162E58;color: white; margin-top: -46px;"
           class="demo-button" (click)="openDialogAdd()">
           <i class="ti ti-user" title="Add student"></i>
          Add Intership
      </button>
  </div>
  </div>

  <div class="app-wrapper">
    <mat-card class="example-card" *ngFor="let item of filteredcards">
      <div>
        <mat-card-header class="matcard_header">
          <mat-card-title-group>
            <mat-card-title style="text-align: left;">{{item.titre}}</mat-card-title>
            <mat-card-subtitle style="color: rgb(227, 224, 224); text-align: left;">{{item.localisation}}</mat-card-subtitle>
            <button mat-icon-button  [matMenuTriggerFor]="menu" aria-label="Example icon button with a vertical three dot icon">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon color="primary">update</mat-icon>
                <span>Update</span>
              </button>
              <button mat-menu-item (click)="openDialogDelete(item)">
                <mat-icon color="warn">delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </mat-card-title-group>
        </mat-card-header>
      </div>
      <mat-card-content style="text-align: left;">
        <p>{{item.description}}</p>
      </mat-card-content>
      <hr>
      <mat-card-actions>
        <a mat-flat-button href="https://www.google.com/" target="_blank" style="color:blue;">Voir plus...</a>
      </mat-card-actions>
    </mat-card>
    <mat-paginator class="paginator" [length]="totalCount" [pageSizeOptions]="[8, 12, 24]" (page)="handlePageEvent($event)"
    aria-label="Select page">
  </mat-paginator>
  </div>

</div>
