.example-card {
  max-width: 200px;
  margin: 5px;
  height: 200px;

}

.app-wrapper {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

// .content {
//   display: grid;
//   grid-gap: 70px;
// }