
<div>
  <button mat-raised-button (click)="openDialog('0ms', '0ms')">Add Intership</button>
</div>
<div class="app-wrapper" >     
    <mat-card class="example-card"*ngFor="let item of allStages" >
      <mat-card-header>
        <mat-card-title style="color:#b5a3f4"> internship: <button mat-mini-fab matTooltip="Primary" color="primary"
            aria-label="Example mini fab with a heart icon">
            <mat-icon>
              <p>{{item.id}}  </p>
            </mat-icon>
          </button> 
        </mat-card-title>
        <mat-card-subtitle>
          {{item.localisation}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{item.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="openDialog('0ms', '0ms')" color="primary">Apply</button>
        <a [routerLink]="['/stagedetails']"class="card-link">voir plus...</a>
      </mat-card-actions>
    </mat-card>
  
</div>