<nav class="navbar navbar-expand-lg "
  [ngClass]="{'admin-nav-style': currentRoute == 'admin','home-nav-style': currentRoute != 'admin' }">
  <div class="container-fluid">
    <a class="b-brand">
      <!-- ========   change your logo hear   ============ -->
      <div style="margin-left: -19px">
        <img width="70" height="70" viewBox="0 0 46 55" fill="none" src="assets/images/logo.png" alt=""
          class="logo logo-lg" />
      </div>
    </a>
    <div class="drill" >      
        <button mat-button class="nav-item" style="color:rgb(61, 57, 58);">
          <a class="nav-link" href="/" routerLinkActive="active-link"
            >Home</a>
        </button>

        <button mat-button class="nav-item" style="color:rgb(61, 57, 58);" >
          <a class="nav-link" href="#section1" >
            Interships</a>
        </button>

        <button mat-button class="nav-item" style="color:rgb(61, 57, 58);">
          <a class="nav-link" href="#section2" 
            >Contact</a>
        </button>
        <button mat-button class="nav-item" style="color:rgb(61, 57, 58);">
          <a class="nav-link" href="/login" 
            >Sign In</a>
        </button>         
        
    </div>
  </div>
</nav>