<nav class="navbar navbar-expand-lg {{navClasses}}`">
  <div class="container-fluid">
    <a class="b-brand">
      <!-- ========   change your logo hear   ============ -->
      <div style="margin-left: -19px">
        <img

          width="60"
          height="60"

          viewBox="0 0 46 55"
          fill="none"
          src="assets/images/logo.png"
          alt=""
          class="logo logo-lg"
        />
      </div>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/forum" routerLinkActive="active-link">Forum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active-link">About</a>
        </li>
        <li class="nav-item">
          <a href="#section1" class="nav-link" routerLinkActive="active-link">Contact</a>
        </li>
        <li class="nav-item">
          The current Route Is {{currentRoute}}

        </li>
      </ul>
    </div>
  </div>
</nav>

